/*instructor john nel lim 
for final hands-on exam*/

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Inter', sans-serif;
	color: white;
	height: 100%;
	max-width: 100%;
	display: block;
	margin: 0;
}
.container {
	width: 1160px;
	display: block;
	margin: 0 auto;
}
a , li {
	text-decoration: none;
	list-style-type: none;
}
.clearfix {
	overflow: auto;
}
/* header*/
header .container {
	height: 107px;
}
header .header_container {
	position: relative;
	height: 107px;
	overflow: hidden;
}
nav {
	float: right;
}
nav ul {
	padding: 0;
	margin: 0;
}
nav ul li {
	display: inline-block;
	vertical-align: middle;
}
nav ul li a {
	font-size: 16px;
	font-weight: 400px;
	color: black;
	padding: 0 25px;
	line-height: 100px;
}
nav ul li a:hover {
	color: red;
	transition: 200ms;
}
/*hero*/
.hero_background {
	background: url("img/hero.jpg") no-repeat top / cover;
	position: absolute;
	height: 900px;
	width: 100%;
}
.hero_background:before {
	content: "";
	width: 100%;
	height: 900px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, .3);
}
#hero {
	position: relative;
	background: transparent;
	height: 900px;
}
.hero_slogan {
	position: absolute;
	top: 50%;
}
.hero_slogan h1 {
	font-size: 36px;
	font-style: normal;
	font-weight: 500px;
	margin: 0;
}
.hero_slogan p {
	height: 22px;
	font-weight: 500px;
	font-size: 18px;
	line-height: 22px;
	margin-top: 8px;
	padding-bottom: 10px;
}
.hero_slogan a {
	width: 200px;
	height: 50px;
	background: #F8F8F8;
	border-radius: 50px;
	padding: 14px 49px;
	color: black;
	font-weight: 500px;
	font-size: 18px;

}
.hero_slogan a:hover {
	background: #000;
	color: #fff;
	transition: 200ms;
}
/*about us*/
#about {
	background: #E6E6E6;
}
#about .about_us {
	padding-top: 100px;
	background: #E6E6E6;
}
.about_us img {
	width: 300px;
	height: 330px;
	margin: 0;
}
.about_us h1 {
	float: right;
	color: black;
	font-size: 32px;
	padding-right: 500px;
}
.about_us p {
	width: 759px;
	color: #000;
	float: right;
}
/*product*/
#our_pet {
	height: 800px;
	max-width: 100%;
	background: #F4F4F4;
	margin: 0;
	display: block;
}
#our_pet .our_product {
	text-align: center;
	display: block;
	position: absolute;
	line-height: 39px;
	color: black;
	margin-top: 100px;
	padding: 0 150px;
}
.choices {
	text-align: center;
	display: inline-block;
	margin: 0 25px;
	padding: 50px 20px;
}
.choices img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	display: block;
}

.choices p {
	line-height: 28px;
	font-size: 19px;
	color: black;
}

/*instructor john nel lim 
for final hands-on exam*/

.choices a {
	color:black;
	background: white;
	padding: 14px 49px;
	margin: 0 auto;
	border-radius: 50px;
}

.choices a:hover {
	background: #000;
	color: #fff;
	transition: 200ms;
}
.show a {
	position: relative;
	color:black;
	background: white;
	padding: 14px 49px;
	border-radius: 50px;
	top: 45px;
}
.show a:hover {
	background: black;
	color: white;
	transition: 200ms;
}
/*footer*/
 .container {
	display: block;
	height: auto;
	max-width: 100%;
	background: white;
}
.footer .footer_logo {
	display: block;
	position: absolute;
	width: 90px;
	height: 80px;
}
.footer ul li {
	position: relative;
	display: inline-block;
    margin-top: 67px;
    left: 100px;
}
.footer ul li a {
	padding: 0 25px;
	color: black;
}
.footer ul li a:hover {
	color: red;
	transition: 200ms;
}
#icons {
	float: right;
	font-size: 30px;
	margin-top: 50px;
	padding: 0 2px;
}
#icons a span {
	color: black;
}
#icons a span:hover {
	color: red;
	transition: 200ms;
}
.footer hr {
	margin-top: 40px;
}
.footer p {
	color: black;
	text-align: center;
	padding: 60px 0;
	margin: 0;
}


/*instructor john nel lim 
for final hands-on exam*/
